In [1]:
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

import pymysql
pymysql.install_as_MySQLdb()

engine = create_engine('mysql://root:sillypassword@localhost:3306/sakila')
session = Session(bind=engine)

In [2]:
# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)

Actor = Base.classes.actor
Address = Base.classes.address
City = Base.classes.city
Country = Base.classes.country
Category = Base.classes.category
Customer = Base.classes.customer
Store = Base.classes.store
Staff = Base.classes.staff
Film = Base.classes.film
Language = Base.classes.language
FilmActor = Base.classes.film_actor
FilmCategory = Base.classes.film_category
FilmText = Base.classes.film_text
Inventory = Base.classes.inventory
Payment = Base.classes.payment
Rental = Base.classes.rental

/Users/tyler/virtualenvs36/test/lib/python3.6/site-packages/sqlalchemy/dialects/mysql/reflection.py:181: SAWarning: Did not recognize type 'geometry' of column 'location'
  (type_, name))

In [3]:
print('Customer', Customer.__table__.columns.keys())
print()
print('Payment', Payment.__table__.columns.keys())
print()

Customer ['customer_id', 'store_id', 'first_name', 'last_name', 'email', 'address_id', 'active', 'create_date', 'last_update']

Payment ['payment_id', 'customer_id', 'staff_id', 'rental_id', 'amount', 'payment_date', 'last_update']

In [4]:
session.query(
    Customer.first_name,
    Customer.last_name,
    Payment.amount
).join(Payment).limit(50).all()

[('MARY', 'SMITH', Decimal('2.99')),
 ('MARY', 'SMITH', Decimal('0.99')),
 ('MARY', 'SMITH', Decimal('5.99')),
 ('MARY', 'SMITH', Decimal('0.99')),
 ('MARY', 'SMITH', Decimal('9.99')),
 ('MARY', 'SMITH', Decimal('4.99')),
 ('MARY', 'SMITH', Decimal('4.99')),
 ('MARY', 'SMITH', Decimal('0.99')),
 ('MARY', 'SMITH', Decimal('3.99')),
 ('MARY', 'SMITH', Decimal('5.99')),
 ('MARY', 'SMITH', Decimal('5.99')),
 ('MARY', 'SMITH', Decimal('4.99')),
 ('MARY', 'SMITH', Decimal('4.99')),
 ('MARY', 'SMITH', Decimal('7.99')),
 ('MARY', 'SMITH', Decimal('2.99')),
 ('MARY', 'SMITH', Decimal('4.99')),
 ('MARY', 'SMITH', Decimal('4.99')),
 ('MARY', 'SMITH', Decimal('0.99')),
 ('MARY', 'SMITH', Decimal('0.99')),
 ('MARY', 'SMITH', Decimal('2.99')),
 ('MARY', 'SMITH', Decimal('2.99')),
 ('MARY', 'SMITH', Decimal('4.99')),
 ('MARY', 'SMITH', Decimal('3.99')),
 ('MARY', 'SMITH', Decimal('0.99')),
 ('MARY', 'SMITH', Decimal('4.99')),
 ('MARY', 'SMITH', Decimal('0.99')),
 ('MARY', 'SMITH', Decimal('0.99')),
 ('MARY', 'SMITH', Decimal('2.99')),
 ('MARY', 'SMITH', Decimal('0.99')),
 ('MARY', 'SMITH', Decimal('1.99')),
 ('MARY', 'SMITH', Decimal('2.99')),
 ('MARY', 'SMITH', Decimal('5.99')),
 ('PATRICIA', 'JOHNSON', Decimal('4.99')),
 ('PATRICIA', 'JOHNSON', Decimal('2.99')),
 ('PATRICIA', 'JOHNSON', Decimal('2.99')),
 ('PATRICIA', 'JOHNSON', Decimal('6.99')),
 ('PATRICIA', 'JOHNSON', Decimal('4.99')),
 ('PATRICIA', 'JOHNSON', Decimal('5.99')),
 ('PATRICIA', 'JOHNSON', Decimal('5.99')),
 ('PATRICIA', 'JOHNSON', Decimal('5.99')),
 ('PATRICIA', 'JOHNSON', Decimal('2.99')),
 ('PATRICIA', 'JOHNSON', Decimal('5.99')),
 ('PATRICIA', 'JOHNSON', Decimal('4.99')),
 ('PATRICIA', 'JOHNSON', Decimal('10.99')),
 ('PATRICIA', 'JOHNSON', Decimal('0.99')),
 ('PATRICIA', 'JOHNSON', Decimal('6.99')),
 ('PATRICIA', 'JOHNSON', Decimal('6.99')),
 ('PATRICIA', 'JOHNSON', Decimal('2.99')),
 ('PATRICIA', 'JOHNSON', Decimal('0.99')),
 ('PATRICIA', 'JOHNSON', Decimal('0.99'))]

In [5]:
from sqlalchemy import func

query = session.query(
    Customer.first_name,
    Customer.last_name,
    func.count(Payment.payment_id),
    func.sum(Payment.amount),
    func.avg(Payment.amount),
).join(
    Payment
).group_by(
    Customer.customer_id
)

query.limit(50).all()

[('MARY', 'SMITH', 32, Decimal('118.68'), Decimal('3.708750')),
 ('PATRICIA', 'JOHNSON', 27, Decimal('128.73'), Decimal('4.767778')),
 ('LINDA', 'WILLIAMS', 26, Decimal('135.74'), Decimal('5.220769')),
 ('BARBARA', 'JONES', 22, Decimal('81.78'), Decimal('3.717273')),
 ('ELIZABETH', 'BROWN', 38, Decimal('144.62'), Decimal('3.805789')),
 ('JENNIFER', 'DAVIS', 28, Decimal('93.72'), Decimal('3.347143')),
 ('MARIA', 'MILLER', 33, Decimal('151.67'), Decimal('4.596061')),
 ('SUSAN', 'WILSON', 24, Decimal('92.76'), Decimal('3.865000')),
 ('MARGARET', 'MOORE', 23, Decimal('89.77'), Decimal('3.903043')),
 ('DOROTHY', 'TAYLOR', 25, Decimal('99.75'), Decimal('3.990000')),
 ('LISA', 'ANDERSON', 24, Decimal('106.76'), Decimal('4.448333')),
 ('NANCY', 'THOMAS', 28, Decimal('103.72'), Decimal('3.704286')),
 ('KAREN', 'JACKSON', 27, Decimal('131.73'), Decimal('4.878889')),
 ('BETTY', 'WHITE', 28, Decimal('117.72'), Decimal('4.204286')),
 ('HELEN', 'HARRIS', 32, Decimal('134.68'), Decimal('4.208750')),
 ('SANDRA', 'MARTIN', 29, Decimal('120.71'), Decimal('4.162414')),
 ('DONNA', 'THOMPSON', 21, Decimal('98.79'), Decimal('4.704286')),
 ('CAROL', 'GARCIA', 22, Decimal('91.78'), Decimal('4.171818')),
 ('RUTH', 'MARTINEZ', 24, Decimal('125.76'), Decimal('5.240000')),
 ('SHARON', 'ROBINSON', 30, Decimal('115.70'), Decimal('3.856667')),
 ('MICHELLE', 'CLARK', 35, Decimal('155.65'), Decimal('4.447143')),
 ('LAURA', 'RODRIGUEZ', 22, Decimal('113.78'), Decimal('5.171818')),
 ('SARAH', 'LEWIS', 30, Decimal('119.70'), Decimal('3.990000')),
 ('KIMBERLY', 'LEE', 25, Decimal('95.75'), Decimal('3.830000')),
 ('DEBORAH', 'WALKER', 29, Decimal('115.71'), Decimal('3.990000')),
 ('JESSICA', 'HALL', 34, Decimal('152.66'), Decimal('4.490000')),
 ('SHIRLEY', 'ALLEN', 31, Decimal('126.69'), Decimal('4.086774')),
 ('CYNTHIA', 'YOUNG', 32, Decimal('111.68'), Decimal('3.490000')),
 ('ANGELA', 'HERNANDEZ', 36, Decimal('140.64'), Decimal('3.906667')),
 ('MELISSA', 'KING', 34, Decimal('123.66'), Decimal('3.637059')),
 ('BRENDA', 'WRIGHT', 26, Decimal('104.74'), Decimal('4.028462')),
 ('AMY', 'LOPEZ', 29, Decimal('127.71'), Decimal('4.403793')),
 ('ANNA', 'HILL', 21, Decimal('91.79'), Decimal('4.370952')),
 ('REBECCA', 'SCOTT', 24, Decimal('89.76'), Decimal('3.740000')),
 ('VIRGINIA', 'GREEN', 32, Decimal('129.68'), Decimal('4.052500')),
 ('KATHLEEN', 'ADAMS', 27, Decimal('92.73'), Decimal('3.434444')),
 ('PAMELA', 'BAKER', 23, Decimal('95.77'), Decimal('4.163913')),
 ('MARTHA', 'GONZALEZ', 34, Decimal('127.66'), Decimal('3.754706')),
 ('DEBRA', 'NELSON', 29, Decimal('141.71'), Decimal('4.886552')),
 ('AMANDA', 'CARTER', 27, Decimal('110.73'), Decimal('4.101111')),
 ('STEPHANIE', 'MITCHELL', 25, Decimal('118.75'), Decimal('4.750000')),
 ('CAROLYN', 'PEREZ', 30, Decimal('117.70'), Decimal('3.923333')),
 ('CHRISTINE', 'ROBERTS', 24, Decimal('99.76'), Decimal('4.156667')),
 ('MARIE', 'TURNER', 26, Decimal('114.74'), Decimal('4.413077')),
 ('JANET', 'PHILLIPS', 27, Decimal('127.73'), Decimal('4.730741')),
 ('CATHERINE', 'CAMPBELL', 34, Decimal('142.66'), Decimal('4.195882')),
 ('FRANCES', 'PARKER', 22, Decimal('108.78'), Decimal('4.944545')),
 ('ANN', 'EVANS', 17, Decimal('76.83'), Decimal('4.519412')),
 ('JOYCE', 'EDWARDS', 28, Decimal('130.72'), Decimal('4.668571')),
 ('DIANE', 'COLLINS', 35, Decimal('169.65'), Decimal('4.847143'))]

In [6]:
print(query)

SELECT customer.first_name AS customer_first_name, customer.last_name AS customer_last_name, count(payment.payment_id) AS count_1, sum(payment.amount) AS sum_1, avg(payment.amount) AS avg_1
FROM customer INNER JOIN payment ON customer.customer_id = payment.customer_id GROUP BY customer.customer_id

In [7]:
high_spenders = query.having(func.sum(Payment.amount) > 100)
high_spenders.limit(50).all()

[('MARY', 'SMITH', 32, Decimal('118.68'), Decimal('3.708750')),
 ('PATRICIA', 'JOHNSON', 27, Decimal('128.73'), Decimal('4.767778')),
 ('LINDA', 'WILLIAMS', 26, Decimal('135.74'), Decimal('5.220769')),
 ('ELIZABETH', 'BROWN', 38, Decimal('144.62'), Decimal('3.805789')),
 ('MARIA', 'MILLER', 33, Decimal('151.67'), Decimal('4.596061')),
 ('LISA', 'ANDERSON', 24, Decimal('106.76'), Decimal('4.448333')),
 ('NANCY', 'THOMAS', 28, Decimal('103.72'), Decimal('3.704286')),
 ('KAREN', 'JACKSON', 27, Decimal('131.73'), Decimal('4.878889')),
 ('BETTY', 'WHITE', 28, Decimal('117.72'), Decimal('4.204286')),
 ('HELEN', 'HARRIS', 32, Decimal('134.68'), Decimal('4.208750')),
 ('SANDRA', 'MARTIN', 29, Decimal('120.71'), Decimal('4.162414')),
 ('RUTH', 'MARTINEZ', 24, Decimal('125.76'), Decimal('5.240000')),
 ('SHARON', 'ROBINSON', 30, Decimal('115.70'), Decimal('3.856667')),
 ('MICHELLE', 'CLARK', 35, Decimal('155.65'), Decimal('4.447143')),
 ('LAURA', 'RODRIGUEZ', 22, Decimal('113.78'), Decimal('5.171818')),
 ('SARAH', 'LEWIS', 30, Decimal('119.70'), Decimal('3.990000')),
 ('DEBORAH', 'WALKER', 29, Decimal('115.71'), Decimal('3.990000')),
 ('JESSICA', 'HALL', 34, Decimal('152.66'), Decimal('4.490000')),
 ('SHIRLEY', 'ALLEN', 31, Decimal('126.69'), Decimal('4.086774')),
 ('CYNTHIA', 'YOUNG', 32, Decimal('111.68'), Decimal('3.490000')),
 ('ANGELA', 'HERNANDEZ', 36, Decimal('140.64'), Decimal('3.906667')),
 ('MELISSA', 'KING', 34, Decimal('123.66'), Decimal('3.637059')),
 ('BRENDA', 'WRIGHT', 26, Decimal('104.74'), Decimal('4.028462')),
 ('AMY', 'LOPEZ', 29, Decimal('127.71'), Decimal('4.403793')),
 ('VIRGINIA', 'GREEN', 32, Decimal('129.68'), Decimal('4.052500')),
 ('MARTHA', 'GONZALEZ', 34, Decimal('127.66'), Decimal('3.754706')),
 ('DEBRA', 'NELSON', 29, Decimal('141.71'), Decimal('4.886552')),
 ('AMANDA', 'CARTER', 27, Decimal('110.73'), Decimal('4.101111')),
 ('STEPHANIE', 'MITCHELL', 25, Decimal('118.75'), Decimal('4.750000')),
 ('CAROLYN', 'PEREZ', 30, Decimal('117.70'), Decimal('3.923333')),
 ('MARIE', 'TURNER', 26, Decimal('114.74'), Decimal('4.413077')),
 ('JANET', 'PHILLIPS', 27, Decimal('127.73'), Decimal('4.730741')),
 ('CATHERINE', 'CAMPBELL', 34, Decimal('142.66'), Decimal('4.195882')),
 ('FRANCES', 'PARKER', 22, Decimal('108.78'), Decimal('4.944545')),
 ('JOYCE', 'EDWARDS', 28, Decimal('130.72'), Decimal('4.668571')),
 ('DIANE', 'COLLINS', 35, Decimal('169.65'), Decimal('4.847143')),
 ('ALICE', 'STEWART', 33, Decimal('138.67'), Decimal('4.202121')),
 ('JULIE', 'SANCHEZ', 29, Decimal('107.71'), Decimal('3.714138')),
 ('HEATHER', 'MORRIS', 30, Decimal('115.70'), Decimal('3.856667')),
 ('TERESA', 'ROGERS', 29, Decimal('128.71'), Decimal('4.438276')),
 ('DORIS', 'REED', 22, Decimal('100.78'), Decimal('4.580909')),
 ('GLORIA', 'COOK', 30, Decimal('135.70'), Decimal('4.523333')),
 ('EVELYN', 'MORGAN', 28, Decimal('114.72'), Decimal('4.097143')),
 ('JEAN', 'BELL', 27, Decimal('115.73'), Decimal('4.286296')),
 ('CHERYL', 'MURPHY', 27, Decimal('133.73'), Decimal('4.952963')),
 ('ASHLEY', 'RICHARDSON', 25, Decimal('112.75'), Decimal('4.510000')),
 ('JUDITH', 'COX', 33, Decimal('100.67'), Decimal('3.050606')),
 ('ROSE', 'HOWARD', 22, Decimal('103.78'), Decimal('4.717273')),
 ('JANICE', 'WARD', 34, Decimal('144.66'), Decimal('4.254706')),
 ('KATHY', 'JAMES', 30, Decimal('129.70'), Decimal('4.323333'))]

In [8]:
print(high_spenders)

SELECT customer.first_name AS customer_first_name, customer.last_name AS customer_last_name, count(payment.payment_id) AS count_1, sum(payment.amount) AS sum_1, avg(payment.amount) AS avg_1
FROM customer INNER JOIN payment ON customer.customer_id = payment.customer_id GROUP BY customer.customer_id
HAVING sum(payment.amount) > %(sum_2)s