In [1]:
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

import pymysql
pymysql.install_as_MySQLdb()

engine = create_engine('mysql://root:sillypassword@localhost:3306/sakila')
session = Session(bind=engine)

In [2]:
# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

/Users/tyler/virtualenvs36/test/lib/python3.6/site-packages/sqlalchemy/dialects/mysql/reflection.py:181: SAWarning: Did not recognize type 'geometry' of column 'location'
  (type_, name))

['actor',
 'address',
 'city',
 'country',
 'category',
 'customer',
 'store',
 'staff',
 'film',
 'language',
 'film_actor',
 'film_category',
 'film_text',
 'inventory',
 'payment',
 'rental']

In [3]:
Actor = Base.classes.actor
Address = Base.classes.address
City = Base.classes.city
Country = Base.classes.country
Category = Base.classes.category
Customer = Base.classes.customer
Store = Base.classes.store
Staff = Base.classes.staff
Film = Base.classes.film
Language = Base.classes.language
FilmActor = Base.classes.film_actor
FilmCategory = Base.classes.film_category
FilmText = Base.classes.film_text
Inventory = Base.classes.inventory
Payment = Base.classes.payment
Rental = Base.classes.rental

In [7]:
print('Customer', Customer.__table__.columns.keys())
print()
print('Payment', Payment.__table__.columns.keys())
print()

Customer ['customer_id', 'store_id', 'first_name', 'last_name', 'email', 'address_id', 'active', 'create_date', 'last_update']

Payment ['payment_id', 'customer_id', 'staff_id', 'rental_id', 'amount', 'payment_date', 'last_update']

In [12]:
# Cross Join
session.query(
    Customer.first_name, 
    Customer.last_name,
    Payment.payment_id,
    Payment.amount
).limit(20).all()

[('MARY', 'SMITH', 1, Decimal('2.99')),
 ('PATRICIA', 'JOHNSON', 1, Decimal('2.99')),
 ('LINDA', 'WILLIAMS', 1, Decimal('2.99')),
 ('BARBARA', 'JONES', 1, Decimal('2.99')),
 ('ELIZABETH', 'BROWN', 1, Decimal('2.99')),
 ('JENNIFER', 'DAVIS', 1, Decimal('2.99')),
 ('MARIA', 'MILLER', 1, Decimal('2.99')),
 ('SUSAN', 'WILSON', 1, Decimal('2.99')),
 ('MARGARET', 'MOORE', 1, Decimal('2.99')),
 ('DOROTHY', 'TAYLOR', 1, Decimal('2.99')),
 ('LISA', 'ANDERSON', 1, Decimal('2.99')),
 ('NANCY', 'THOMAS', 1, Decimal('2.99')),
 ('KAREN', 'JACKSON', 1, Decimal('2.99')),
 ('BETTY', 'WHITE', 1, Decimal('2.99')),
 ('HELEN', 'HARRIS', 1, Decimal('2.99')),
 ('SANDRA', 'MARTIN', 1, Decimal('2.99')),
 ('DONNA', 'THOMPSON', 1, Decimal('2.99')),
 ('CAROL', 'GARCIA', 1, Decimal('2.99')),
 ('RUTH', 'MARTINEZ', 1, Decimal('2.99')),
 ('SHARON', 'ROBINSON', 1, Decimal('2.99'))]

In [14]:
# Cross Join w/ filter
session.query(
    Customer.first_name, 
    Customer.last_name,
    Payment.payment_id,
    Payment.amount
).filter(
    Payment.customer_id == Customer.customer_id
).limit(20).all()

[('MARY', 'SMITH', 1, Decimal('2.99')),
 ('MARY', 'SMITH', 2, Decimal('0.99')),
 ('MARY', 'SMITH', 3, Decimal('5.99')),
 ('MARY', 'SMITH', 4, Decimal('0.99')),
 ('MARY', 'SMITH', 5, Decimal('9.99')),
 ('MARY', 'SMITH', 6, Decimal('4.99')),
 ('MARY', 'SMITH', 7, Decimal('4.99')),
 ('MARY', 'SMITH', 8, Decimal('0.99')),
 ('MARY', 'SMITH', 9, Decimal('3.99')),
 ('MARY', 'SMITH', 10, Decimal('5.99')),
 ('MARY', 'SMITH', 11, Decimal('5.99')),
 ('MARY', 'SMITH', 12, Decimal('4.99')),
 ('MARY', 'SMITH', 13, Decimal('4.99')),
 ('MARY', 'SMITH', 14, Decimal('7.99')),
 ('MARY', 'SMITH', 15, Decimal('2.99')),
 ('MARY', 'SMITH', 16, Decimal('4.99')),
 ('MARY', 'SMITH', 17, Decimal('4.99')),
 ('MARY', 'SMITH', 18, Decimal('0.99')),
 ('MARY', 'SMITH', 19, Decimal('0.99')),
 ('MARY', 'SMITH', 20, Decimal('2.99'))]

In [20]:
# Auto Join
session.query(
    Customer.first_name, 
    Customer.last_name,
    Payment.payment_id,
    Payment.amount
).join(Payment).limit(20).all()

[('MARY', 'SMITH', 1, Decimal('2.99')),
 ('MARY', 'SMITH', 2, Decimal('0.99')),
 ('MARY', 'SMITH', 3, Decimal('5.99')),
 ('MARY', 'SMITH', 4, Decimal('0.99')),
 ('MARY', 'SMITH', 5, Decimal('9.99')),
 ('MARY', 'SMITH', 6, Decimal('4.99')),
 ('MARY', 'SMITH', 7, Decimal('4.99')),
 ('MARY', 'SMITH', 8, Decimal('0.99')),
 ('MARY', 'SMITH', 9, Decimal('3.99')),
 ('MARY', 'SMITH', 10, Decimal('5.99')),
 ('MARY', 'SMITH', 11, Decimal('5.99')),
 ('MARY', 'SMITH', 12, Decimal('4.99')),
 ('MARY', 'SMITH', 13, Decimal('4.99')),
 ('MARY', 'SMITH', 14, Decimal('7.99')),
 ('MARY', 'SMITH', 15, Decimal('2.99')),
 ('MARY', 'SMITH', 16, Decimal('4.99')),
 ('MARY', 'SMITH', 17, Decimal('4.99')),
 ('MARY', 'SMITH', 18, Decimal('0.99')),
 ('MARY', 'SMITH', 19, Decimal('0.99')),
 ('MARY', 'SMITH', 20, Decimal('2.99'))]

In [21]:
# Join with condition
session.query(
    Customer.first_name, 
    Customer.last_name,
    Payment.payment_id,
    Payment.amount
).join(
    Payment,
    Payment.customer_id == Customer.customer_id
).limit(20).all()

[('MARY', 'SMITH', 1, Decimal('2.99')),
 ('MARY', 'SMITH', 2, Decimal('0.99')),
 ('MARY', 'SMITH', 3, Decimal('5.99')),
 ('MARY', 'SMITH', 4, Decimal('0.99')),
 ('MARY', 'SMITH', 5, Decimal('9.99')),
 ('MARY', 'SMITH', 6, Decimal('4.99')),
 ('MARY', 'SMITH', 7, Decimal('4.99')),
 ('MARY', 'SMITH', 8, Decimal('0.99')),
 ('MARY', 'SMITH', 9, Decimal('3.99')),
 ('MARY', 'SMITH', 10, Decimal('5.99')),
 ('MARY', 'SMITH', 11, Decimal('5.99')),
 ('MARY', 'SMITH', 12, Decimal('4.99')),
 ('MARY', 'SMITH', 13, Decimal('4.99')),
 ('MARY', 'SMITH', 14, Decimal('7.99')),
 ('MARY', 'SMITH', 15, Decimal('2.99')),
 ('MARY', 'SMITH', 16, Decimal('4.99')),
 ('MARY', 'SMITH', 17, Decimal('4.99')),
 ('MARY', 'SMITH', 18, Decimal('0.99')),
 ('MARY', 'SMITH', 19, Decimal('0.99')),
 ('MARY', 'SMITH', 20, Decimal('2.99'))]

In [22]:
print('Actor', Actor.__table__.columns.keys())
print()
print('FilmActor', FilmActor.__table__.columns.keys())
print()
print('Film', Film.__table__.columns.keys())
print()

Actor ['actor_id', 'first_name', 'last_name', 'last_update']

FilmActor ['actor_id', 'film_id', 'last_update']

Film ['film_id', 'title', 'description', 'release_year', 'language_id', 'original_language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'special_features', 'last_update']

In [25]:
# Multiple Joins
session.query(
    Actor.first_name, 
    Actor.last_name, 
    Film.title
).join(FilmActor, Film).limit(40).all()

[('PENELOPE', 'GUINESS', 'ACADEMY DINOSAUR'),
 ('PENELOPE', 'GUINESS', 'ANACONDA CONFESSIONS'),
 ('PENELOPE', 'GUINESS', 'ANGELS LIFE'),
 ('PENELOPE', 'GUINESS', 'BULWORTH COMMANDMENTS'),
 ('PENELOPE', 'GUINESS', 'CHEAPER CLYDE'),
 ('PENELOPE', 'GUINESS', 'COLOR PHILADELPHIA'),
 ('PENELOPE', 'GUINESS', 'ELEPHANT TROJAN'),
 ('PENELOPE', 'GUINESS', 'GLEAMING JAWBREAKER'),
 ('PENELOPE', 'GUINESS', 'HUMAN GRAFFITI'),
 ('PENELOPE', 'GUINESS', 'KING EVOLUTION'),
 ('PENELOPE', 'GUINESS', 'LADY STAGE'),
 ('PENELOPE', 'GUINESS', 'LANGUAGE COWBOY'),
 ('PENELOPE', 'GUINESS', 'MULHOLLAND BEAST'),
 ('PENELOPE', 'GUINESS', 'OKLAHOMA JUMANJI'),
 ('PENELOPE', 'GUINESS', 'RULES HUMAN'),
 ('PENELOPE', 'GUINESS', 'SPLASH GUMP'),
 ('PENELOPE', 'GUINESS', 'VERTIGO NORTHWEST'),
 ('PENELOPE', 'GUINESS', 'WESTWARD SEABISCUIT'),
 ('PENELOPE', 'GUINESS', 'WIZARD COLDBLOODED'),
 ('NICK', 'WAHLBERG', 'ADAPTATION HOLES'),
 ('NICK', 'WAHLBERG', 'APACHE DIVINE'),
 ('NICK', 'WAHLBERG', 'BABY HALL'),
 ('NICK', 'WAHLBERG', 'BULL SHAWSHANK'),
 ('NICK', 'WAHLBERG', 'CHAINSAW UPTOWN'),
 ('NICK', 'WAHLBERG', 'CHISUM BEHAVIOR'),
 ('NICK', 'WAHLBERG', 'DESTINY SATURDAY'),
 ('NICK', 'WAHLBERG', 'DRACULA CRYSTAL'),
 ('NICK', 'WAHLBERG', 'FIGHT JAWBREAKER'),
 ('NICK', 'WAHLBERG', 'FLASH WARS'),
 ('NICK', 'WAHLBERG', 'GILBERT PELICAN'),
 ('NICK', 'WAHLBERG', 'GOODFELLAS SALUTE'),
 ('NICK', 'WAHLBERG', 'HAPPINESS UNITED'),
 ('NICK', 'WAHLBERG', 'INDIAN LOVE'),
 ('NICK', 'WAHLBERG', 'JEKYLL FROGMEN'),
 ('NICK', 'WAHLBERG', 'JERSEY SASSY'),
 ('NICK', 'WAHLBERG', 'LIAISONS SWEET'),
 ('NICK', 'WAHLBERG', 'LUCKY FLYING'),
 ('NICK', 'WAHLBERG', 'MAGUIRE APACHE'),
 ('NICK', 'WAHLBERG', 'MALLRATS UNITED'),
 ('NICK', 'WAHLBERG', 'MASK PEACH')]

In [28]:
str(session.query(
    Actor.first_name, 
    Actor.last_name, 
    Film.title
).join(FilmActor, Film).limit(40))

'SELECT actor.first_name AS actor_first_name, actor.last_name AS actor_last_name, film.title AS film_title \nFROM actor INNER JOIN film_actor ON actor.actor_id = film_actor.actor_id INNER JOIN film ON film.film_id = film_actor.film_id \n LIMIT %(param_1)s'

In [33]:
[r[0] for r in session.query(
    Film.title
).join(
    FilmActor,
    Actor
).filter(
    Actor.first_name == 'Karl',
    Actor.last_name == 'Berry'
).all()]

['ALLEY EVOLUTION',
 'ALONE TRIP',
 'ARABIA DOGMA',
 'ARIZONA BANG',
 'BOUND CHEAPER',
 'BOWFINGER GABLES',
 'BUNCH MINDS',
 'CLEOPATRA DEVIL',
 'CONNECTICUT TRAMP',
 'DARES PLUTO',
 'DATE SPEED',
 'DAY UNFAITHFUL',
 'DOORS PRESIDENT',
 'FURY MURDER',
 'HARDLY ROBBERS',
 'HIGHBALL POTTER',
 'HOLES BRANNIGAN',
 'INDEPENDENCE HOTEL',
 'LEATHERNECKS DWARFS',
 'LUCKY FLYING',
 'MONTEREY LABYRINTH',
 'NOVOCAINE FLIGHT',
 'OKLAHOMA JUMANJI',
 'PERFECT GROOVE',
 'REAP UNFAITHFUL',
 'REUNION WITCHES',
 'SMOKING BARBARELLA',
 'STAGECOACH ARMAGEDDON',
 'SWEDEN SHINING',
 'TELEMARK HEARTBREAKERS',
 'VIRGINIAN PLUTO']